@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800');

$color-orange: #f98a09;
$color-dark: #1b1b1b;
$color-light: #ffffff;
$btn-bg-color: #00c8ff;
$footer-bg-color1: #252525;
$footer-bg-color2: #191919;

html, body, main {
  height: 100%;
  font-family: 'Montserrat', sans-serif; 
}

.navbar-light {
  background: rgba(255,255,255,.85);
}


.navbar-light {
  .navbar-nav {
    
    text-transform: uppercase;
    
    .nav-link {
      font-size: .8125rem;
      color: $color-dark;
    }
    
    .btn-sm {
      font-size: 1rem;
      font-weight: 500;
      margin: .25rem .5rem;
      padding: .0625rem .5rem;
      color: $color-light;
      background-color: $btn-bg-color; 
      border-color: $btn-bg-color;
      border-radius: .9375rem;
    }
  }
}

.btn {
  border-radius: 1.375rem;
}

.linea {
  background-color: rgb(81, 81, 81);
}
.footer-bg {
  background-color: $footer-bg-color1;
}

.footer-bg-darker {
  background-color: $footer-bg-color2;
}

.lead {
  font-size: 1.125rem;
  font-weight: 400;
}

.font-weight-medium {
  font-weight: 500;
}

#landing {
  height: 100%;
  background-image: url("/images/landing-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#about-us {
  h1 {
    font-size: 1.875rem;
  }
}

.section-title {
  color: $color-light;
  h2 {
    margin: auto;
    font-size: 2.25rem;
  }
}

.section-content {
  padding: 2rem 5.625rem 3rem;
}

#services {
  .section-title {
    height: 3.75rem;
    background-image: url("/images/services-title.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  img {
    height: 5.25rem;
    width: 5.25rem;
  }
}

#packages {
  background-image: url("/images/packages-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#reference {

  .btn {
    background-color: #03a9d9;
    border-color: #03a9d9;
    font-size: 1.25rem;
  }
}

#testimonials {
 
  .carousel-control-prev, .carousel-control-next {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-dark;
    text-align: center;
    position: absolute;
    width: unset;
    position: relative;
    opacity: 1;
  }
  .section-title { 
    height: 3.75rem;
    background-image: url("/images/testimonials-title.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: visible;
  }
  .img-fluid {
    max-height: 10rem;
    max-width: 10rem; 
  }
  
}

#contact-us {
  background-image: url("/images/contact-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  .btn {
    background-color: $color-light;
    border-color: $color-light;
    font-size: 1.25rem;
    color: #009ee0;
  }
  .form-group {
    .form-control {
      background: rgba(255,255,255,.80);
    }
  }
  label {
    font-size: 1.125rem;
    font-weight: 500;
  }
  span {
    font-size: 1.875rem;
  }
}
